/* generales */
@font-face {
    font-family: 'Manrope';
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}
* {
    box-sizing: border-box;
}
:root {
    color: #222;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    font-family: 'Manrope';
    font-size: 18px;
}
html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
ul,
li,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
/* Estructura */
.titulo {
    font-size: 2rem;
    color: #333;
}
/* Encabezado */
.encabezado-principal {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    padding: 5px 20px;
}
.encabezado-principal div a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    display: flex;
    top: 0;
    left: 20px;
    border-radius: 0 0 50% 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.encabezado-principal div a img {
    width: 100%;
    height: 60px;
}

.encabezado-principal nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado-principal nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.encabezado-principal nav a {
    color: #222;
    text-decoration: none;
}

/* Contenidos */
.contenido-principal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* inicio */
/*
Ver:
.contenido-principal e .inicio
están pegados porque están en el mismo atributo clase
ver HTML.
*/
.contenido-principal.inicio {
    display: flex;
    flex-direction: column;
}
.inicio .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 10vw;
    background: url(../imagenes/header.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 400px;
    color: #fff;
}
.inicio .hero h1 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 3rem;
}
.inicio .hero p {
    margin: 10px 0 20px 0;
    font-size: 1.2rem;
}
.inicio .hero a {
    text-decoration: none;
    font-size: 1rem;
    background: #eee;
    color: #222;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.3s;
}
.inicio .hero a:hover {
    background-color: #999;
    color: #eee;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* seccion carta */
.inicio .carta {
    display: flex;
    flex-direction: column;
    padding: 20px 8vw;
}

.inicio .carta .titulo {
    margin: 15px 0;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}
.inicio .carta__productos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inicio .carta__producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: #222 1px solid;
    padding: 10px 0;
}
.inicio .carta__producto div {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5vw;
    grid-template-columns: 1fr;
}
.inicio .carta__producto h3 {
    margin: 10px 0;
    font-weight: lighter;
    text-align: center;
}

.inicio .carta__producto img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}

/* galeria */

.inicio .galeria {
    display: flex;
    flex-direction: column;
    padding: 50px 5vw;
}
.inicio .galeria .titulo {
    margin: 25px 0;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}
.inicio .galeria .fotos {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}
.inicio .galeria .fotos img {
    width: 100%;
}

/* Contacto */
/*
Ver:
.contenido-principal e .consultas
están pegados porque están en el mismo atributo clase
ver HTML.
*/
.contenido-principal.consultas {
    display: flex;
    flex-direction: column;
}
.consultas .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 10vw;
    background: url(../imagenes/header-contacto.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 200px;
    color: #fff;
}
.consultas .contacto {
    display: flex;
    flex-direction: column;
    padding: 20px 15vw;
}
.consultas .contacto .titulo {
    margin: 15px 0;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}
.consultas .contacto p {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
}
/* formulario */
.consultas .contacto .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* anidación solo navegadores modernos */
    input,
    textarea,
    button {
        font-size: inherit;
        font-family: inherit;
    }
    label {
        padding: 10px 0;
    }
    input,
    textarea {
        padding: 5px 10px;
    }
    textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 120px;
    }

    button {
        margin-top: 30px;
        padding: 10px 5px;
        cursor: pointer;
        background: #eee;
        color: #222;
        padding: 15px;
        border-radius: 4px;
        transition: all 0.3s;
        border: none;
    }

    button:hover {
        background-color: #999;
        color: #eee;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    }
}
/* pie principal */
.pie-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    padding: 20px 0;
}
.pie-principal ul {
    text-align: center;
    list-style: none;
    font-size: 0.9rem;
}
.pie-principal a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #333;
}

/* Responsividad */

@media (width > 768px) {
    .encabezado-principal div a img {
        width: 100%;
        height: 100px;
    }

    .encabezado-principal div a {
        width: 120px;
        height: 120px;
    }
    .inicio .carta {
        padding: 20px 20vw;
    }
    .inicio .carta__producto {
        flex-direction: row;
    }
    .inicio .carta__producto h3 {
        text-align: left;
    }
    .inicio .carta__producto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border-bottom: #222 1px solid;
        padding: 10px 0;
    }

    .inicio .carta__producto div {
        display: flex;
        align-items: center;
        gap: 5vw;
        grid-template-columns: repeat(2, 50%);
    }
    .inicio .galeria {
        padding: 50px 20vw;
    }
    .inicio .galeria .fotos {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 50%);
    }
}
